body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.onglets {
    display: flex;
    justify-content: space-around; /* Répartir l'espace entre les onglets */
    text-align: center; /* Centre les titres des onglets */

}

.onglet {
    /* Les styles des onglets restent les mêmes */
    flex-basis: calc(25% - 20px); /* Pour définir la largeur de chaque onglet */
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    width: 200px; /* Largeur fixe pour chaque onglet */
    height: 200px; /* Hauteur fixe pour chaque onglet */
    border-radius: 20px; /* Supprimer le border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Pour éviter que le contenu déborde */
    position: relative; /* Position relative pour les onglets */
}


.onglet:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.onglet img {
    width: 100%;
    height: auto; /* Pour que l'image respecte les dimensions de son parent */
    border-radius: 5px 5px 0 0;
}

.onglet h2 {
    position: absolute;
    bottom: 10px;
    left: 50%; /* Positionne le titre au centre */
    transform: translateX(-50%); /* Centre le titre par rapport à son parent */
    width: 100%;
    margin: 0;
}

.header-background {
    height: 20vh; /* Réduit la hauteur du header */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

header {
    padding: 20px 0; /* Ajoute un peu de padding au header */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Position fixe */
    top: 0; /* Aligne le header en haut de la fenêtre */
    left: 0; /* Aligne le header tout à gauche */
    width: 100%; /* Occupe toute la largeur de la fenêtre */
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Réduit la marge gauche */
    margin-right: 20px; /* Réduit la marge droite */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.footer-section {
    background-color: #000;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed; /* Fixe le footer en bas de la fenêtre */
    bottom: 0; /* Place le footer au bas de la fenêtre */
    width: 100%; /* Occupe toute la largeur de la fenêtre */
    z-index: 1; /* Assure que le footer est au-dessus des autres éléments */
}

.footer-title-contact {
    font-size: 24px;
    color: #ffc107;
    margin-bottom: 20px;
}

.footer-contact {
    margin-bottom: 20px;
    opacity: 0.8;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 20px;
}

.footer-middle {
    margin-left: 200px;
    margin-right: 200px;
}

.footer-left,
.footer-right {
    flex: 1;
}

.footer-title {
    font-size: 24px;
    color: #ffc107;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    opacity: 0.8;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ffc107;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icon-link {
    margin-right: 20px;
}

.social-icon-link img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.return-to-menu {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    z-index: 2; /* Augmente le niveau de z-index */
}

.return-to-menu:hover {
    background-color: #2980b9;
}